
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	--color-dorado: #EDB44D;
	--color-general: #adb0b8;
	--color-titulos: #dbdce4;
	--fondo-negro: #09090d;
	--fondo-azul: #101117;
	--fondo-features: #121520;
	--fondo-footer: #040406;
	--color-footer: #373946;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: var(--color-general);
}
h1,h2,h3,h4,h5,h6{
	color: var(--color-titulos);
}

#hero-title{
	padding: 15% 10%;
	background-color:var(--fondo-negro);
}

#hero-title h5{
	font-weight: 200;
	color: var(--color-dorado);
}

#hero-title h1{
	font-weight: 700;
	font-size: 50px;
}

.btn-base{
	background-color: var(--color-footer);
	color: #fff;
	
	border-radius: 40px;
	font-size: 10px;
	font-weight: 500;
}







